<app-side-bar></app-side-bar>
<div class="container-fluid vh-100 d-flex align-items-center">
  <div class="row w-100">

    <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center imagem">
      <img src="img/mustang.png" class="img-fluid" alt="Imagem Mustang" />
    </div>

    <div class="col-md-6 d-flex align-items-center justify-content-center login-box">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="w-75 p-4 shadow rounded bg-white">

        <div class="text-center mb-4 img-logo">
          <img src="img/ford.png" alt="Logo Ford" class="img-fluid" style="width: 200px;" />
        </div>

        <h4 class="text-center text-primary mb-4">Criar Conta</h4>

        <div class="mb-3 d-flex align-items-center">
          <label for="username" class="form-label me-2 text-primary">
            <mat-icon>person</mat-icon>
          </label>
          <input type="text" id="username" class="form-control" placeholder="Usuário" formControlName="username" />
        </div>
        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="text-danger">
          <div *ngIf="registerForm.get('username')?.errors?.['required']">Nome de usuário é obrigatório.</div>
          <div *ngIf="registerForm.get('username')?.errors?.['minlength']">Nome de usuário deve ter pelo menos 3 caracteres.</div>
        </div>

        <div class="mb-3 d-flex align-items-center">
          <label for="email" class="form-label me-2 text-primary">
            <mat-icon>email</mat-icon>
          </label>
          <input type="email" id="email" class="form-control" placeholder="Email" formControlName="email" />
        </div>
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
          <div *ngIf="registerForm.get('email')?.errors?.['required']">Email é obrigatório.</div>
          <div *ngIf="registerForm.get('email')?.errors?.['email']">Email inválido.</div>
        </div>

        <div class="mb-3 d-flex align-items-center">
          <label for="password" class="form-label me-2 text-primary">
            <mat-icon>lock</mat-icon>
          </label>
          <input type="password" id="password" class="form-control" placeholder="Senha" formControlName="password" />
        </div>
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
          <div *ngIf="registerForm.get('password')?.errors?.['required']">Senha é obrigatória.</div>
          <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Senha deve ter pelo menos 6 caracteres.</div>
        </div>

        <div class="mb-3 d-flex align-items-center">
          <label for="confirmPassword" class="form-label me-2 text-primary">
            <mat-icon>lock</mat-icon>
          </label>
          <input type="password" id="confirmPassword" class="form-control" placeholder="Confirmar senha"
            formControlName="confirmPassword" />
        </div>
        <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" class="text-danger">
          <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Confirmação de senha é obrigatória.</div>
        </div>
        <div *ngIf="passwordMismatch" class="text-danger mt-2">
          As senhas não coincidem.
        </div>

        <div class="text-danger mt-2" *ngIf="userExists">
          Este usuário ou e-mail já está registrado.
        </div>

        <div class="text-center mt-3">
          <button class="btn btn-primary w-100" type="submit" [disabled]="registerForm.invalid">Registrar</button>
        </div>

        <div class="text-center mt-3">
          <a routerLink="/login" class="text-primary" style="text-decoration: none;">Já tem uma conta? Login</a>
        </div>

      </form>
    </div>
  </div>
</div>

